# string and integer

In [1]:
x=input()
y=input()

10
20

In [3]:
x+y
#here the x and y are act as string because we cant define the x and y as a integer

'1020'

In [20]:
type(x)
type(y)          #by type function we check the nature of variable

int

In [15]:
x=int(x)
y=int(y)

In [18]:
x+y
#here we declear the x and y as a integer by int() command.thats why the value of x and y are act as integer.

30

In [19]:
type(x)
type(y)

int

In [23]:
x=int(input('enter the first number'))
y=int(input('enter your 2nd number'))          #here we convert input into integer by 1 line

enter the first number20
enter your 2nd number20

In [24]:
x+y

40

In [25]:
x=float(input('enter your first number '))
y=float(input('enter your 2nd number'))    #float are used to take the fraction and integer value so float are used in both ways

enter your first number 12.4
enter your 2nd number21

In [26]:
x+y

33.4

# use of complex number

In [27]:
x=2+5j
type(x)

complex

# isinstance function are used to check the class here isinstance(variable name,class).it returns true or false

In [28]:
isinstance(x,complex)

True

In [29]:
isinstance(x,float)

False

# list

In [3]:
a=[1,2,3,'tanvir',(7,8,9)]   #to create a list we have to use 3rd bracket and inside a bracket we input the element of the list

In [2]:
a

[1, 2, 3, 'tanvir', (7, 8, 9)]

In [5]:
a[3]         #this is how we see the individual element of a list

'tanvir'

In [6]:
a[-1]

(7, 8, 9)

In [8]:
a[-1][1]    #here this toples is a subsets and this is how we acess the element of subsets

8

# tuples

In [11]:
b=(1,2,3,4,5,6,7,8,9)      #this is how we express tuples

In [10]:
isinstance(b,tuple)

True

In [13]:
b[3]    #this is how we see the element of tuple

4

In [15]:
b[1:7]    #colon means 1 to (7-1)

(2, 3, 4, 5, 6, 7)

# range

In [29]:
x=range(15)

In [30]:
x

range(0, 15)

In [31]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [33]:
y=range(10,50,5)     #here in range (10,50) is the range and 5 is the difference between them
for i in y:
    print(i)

10
15
20
25
30
35
40
45